{% extends "index.html" %}

{% block title %}{{ config.title }} | {{ page.title }}{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css" integrity="sha384-zh0CIslj+VczCZtlzBcjt5ppRcsAmDnRem7ESsYwWwg3m/OaJ2l4x7YBZl9Kxxib" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js" integrity="sha384-Rma6DA2IPUwhNxmrB/7S3Tno0YY7sFu9WSYMCuulLhIqYSGZ2gKCJWIqhBWqMQfh" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
    });
</script>
{% endblock extra_head %}

{% block header %}
<header class="space">
    <a href="{{ config.base_url }}">&LeftArrow; Home</a>
</header>
{% endblock header %}

{% block content %}
<main>
    <h1>{{ page.title }}</h1>
    {% if page.date or page.taxonomies %}
    <p class="secondary small">
        {% if page.date %}created at {{ page.date | date(format="%Y/%m/%d") }}{% endif %}
        {% if page.updated %}, updated at {{ page.updated | date(format="%Y/%m/%d") }}{% endif %}

        {% set_global sorted_taxonomies = [] %}
        {% for taxonomy_name, _ in page.taxonomies %}
        {% set_global sorted_taxonomies = sorted_taxonomies | concat(with=taxonomy_name) %}
        {% endfor %}
        {% set_global sorted_taxonomies = sorted_taxonomies | sort %}

        {% for taxonomy_name in sorted_taxonomies %}
        {% set terms = page.taxonomies[taxonomy_name] %}
        - {{ taxonomy_name | capitalize }}:
        {% for term_name in terms %}
        {% set term = get_taxonomy_term(kind=taxonomy_name, term=term_name) %}
        <a href="{{ term.permalink }}">{{ term.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
        {% endfor %}
    </p>
    {% endif %}
    <div class="space"></div>
    {{ page.content | safe }}
</main>
{% endblock content %}
